; the first parameter in a host is the inventory_hostname which has to be
; either an ip
; or a resolvable hostname

; used for local actions only
ansible ansible_connection=local

[registry]
192.168.116.142
[edge]
192.168.116.142
[controllers]
192.168.116.142
[kafka]
192.168.116.142
[consul_servers]
192.168.116.142
[invokers]
192.168.116.147
192.168.116.139
192.168.116.101
[db]
192.168.116.142


; {% for group in group_names%}
; [{{group}}]
; {% for host in groups[group] %}
; {{ hostvars[host]["ansible_lo"]["ipv4"]["address"] }}
; {% endfor %}
; {% endfor %}
